*{
    margin: 0px;
    padding: 10px;
    background-color: rgb(51, 50, 50);
    color: aliceblue;
}

.container{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    height: 100vh;
}

.main_body_container
{
    width: 70vw;
}

input{
    width: 100%;
}